@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

$background: #F0F3F4;
$blanc : #FFFFFF;
$gris : #999999;
$noir : #0e0e0e;
$bouton : #3F2B96;
$bleu-clair : #A8C0FF;
$corps-texte: "Open Sans";

$laptop: 992px;